SECRET_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
ENV_URL=
PAYSTACK_BASE_URL=
PAYPAL_BASE_URL=
STRIPE_BASE_URL=
PAYSTACK_CALLBACK_URL=
PAYSTACK_SECRET_KEY=